<!-- <div class="scaled-img-looper" *ngFor="let uimage of images_url">
    <img [src]="uimage.uri" alt="Scaled Image" class="scaled-img" id="scaled-img">
    <div class="annotation-looper" *ngFor="let annotation of annotations">
        <div class="annotated_bounding_box" 
        [style.top]="annotation.top" [style.left]="annotation.left" [style.width]="annotation.width" [style.height]="annotation.height">
        <div style="overflow: hidden;">finger</div></div>
    </div>
</div> -->


<h2 style="text-align:center">Lightbox</h2>

<div class="row">
  <div class="column" *ngFor="let uimage of images_url;let i=index">
    <img [src]="uimage.uri" style="width:100%" (click)="openModal();currentSlide(i+1)" class="hover-shadow cursor">
  </div>

</div>

<div id="myModal" class="modal">
  <span class="close cursor" (click)="closeModal()">&times;</span>

  <div class="modal-content">
    <div class="mySlides" *ngFor="let uimage of images_url">
      <mat-grid-list cols="4" rowHeight="100%">
          <mat-grid-tile colspan="3">
            <div class="image-annotations">
              <div class="numbertext">3 / 4</div>
              <img [src]="uimage.uri" style="width:860px; height:620px" id="scaled-img">
              <div class="annotation-looper" *ngFor="let annotation of uimage.annotation">
                <div class="annotated_bounding_box" 
                  [style.top]="annotation.top" [style.left]="annotation.left" [style.width]="annotation.width" [style.height]="annotation.height">
                  <div style="overflow: hidden;">{{annotation.label}}</div>
                </div>
              </div>    
            </div>
            <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
            <a class="next" (click)="plusSlides(1)">&#10095;</a>  
          </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <!-- scaled annotation textarea  -->
          <div class="textarea-annotator">
            <textarea name="annotations" id="annotatoins" cols="32" rows="40" [value]="uimage.areaannotation" readonly></textarea>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

    </div>

  </div>
</div>
