<!-- <div class="main-editor-div">
    <mat-grid-list cols=10 rowHeight="89px">
        
        <mat-grid-tile rowspan="3" colspan="2" class="test">
            <p>Objects</p>
        </mat-grid-tile>
        <mat-grid-tile rowspan="5" colspan="6" class="test1">
            <p>images</p>
        </mat-grid-tile>
        <mat-grid-tile rowspan="7" colspan="2" class="test5">
            <p>annotations</p>
        </mat-grid-tile>
        <mat-grid-tile rowspan="4" colspan="2" class="test3">
            list images
        </mat-grid-tile>
        <mat-grid-tile rowspan="2" colspan="6" class="test4">
            <p>message field</p>
        </mat-grid-tile>
    </mat-grid-list>
</div> -->
<div class="editor">
    <!-- <iframe src="http://localhost:3000/engine/editor" class="iframe-editor" id="iframe-editor" frameborder="0"></iframe> -->
    <iframe [src]="iframeuri" class="iframe-editor" id="iframe-editor" frameborder="0"></iframe>
</div>