/* .test
{
    background-color: aqua;
}
.test1
{
    background-color:cadetblue
}
.test2
{
    background-color: pink;
}
.test3
{
    background-color: navy;
}
.test4
{
    background-color: rebeccapurple;
}
.test5{
    background-color: brown;
}
.example-card
{
    top: 0px;
} */
.iframe-editor {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow: hidden;
}
.editor {
    width: 100%;
    height: 100%;
    overflow: hidden;
}