<div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>
    <mat-grid-list cols="4" rowHeight="250px">
        <mat-grid-tile  [colspan]="1" [rowspan]="1">
        <!--  Default card Start -->
            <mat-card class="default-card" id="default-card" >
            <mat-card-content class="default-card-content">
                <div class="add-icon">
                <!-- <span class="material-icons" id="add-icon">+</span> -->
                <p id="add-icon">03</p>
                </div>    
                <!-- <div class="content">
                <h3>Add Dataset</h3>
                </div> -->
            </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile  [colspan]="1" [rowspan]="1">
            <!--  Default card Start -->
                <mat-card class="default-card" id="default-card" routerLink="/scaler/editor" >
                <mat-card-content class="default-card-content">
                    <div class="add-icon">
                    <span class="material-icons" id="add-icon1">crop_original</span>
                    </div>    
                    <div class="content">
                    <h3>Image Annotations</h3>
                    </div>
                </mat-card-content>
                </mat-card>
            </mat-grid-tile>
    </mat-grid-list>
</div>